.new-chat-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.new-chat-box {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.new-chat-box h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.new-chat-box p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #555;
}

.new-chat-input {
  width: 94%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.new-chat-buttons {
  display: flex;
  justify-content: space-around;
}

.cancel-button, .create-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.cancel-button {
  background-color: #ccc;
  color: black;
}

.create-button {
  background-color: #83b8c1;
  color: black;
}

.cancel-button:hover {
  background-color: #f34141;
}

.create-button:hover {
  background-color: #568d97;
}